*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;

}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg,#5b548a,  #00b685);
}

.watherApp{
  width: 400px;
  /* height: 800px; */
  margin: auto;
  padding: 50px;
  border-radius: 20px;
background: linear-gradient(135deg, #00feba, #5b548a);
color: #fff;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.watherApp h1{
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  
}
.search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border: 1px solid #00feba;
}
.search input{
  border: none;
  padding: 15px 20px;
  width: 100%;
  outline: none;
  font-weight: 700;
  line-height: 1.3em;
 
}
.search button{
  border: none;
  padding: 12px 20px;
  cursor: pointer ;
  font-size: 18px;
  background-color: #00feba36;
  color: #fff;
}





.wetherInfo{
  text-align: center;
  margin-bottom: 20px;
}

.wetherInfo img{
  width: 150px;
}
.wetherInfo h2{
 font-size: 50px;
}
.wetherInfo h3{
 font-size: 40px;
 font-weight: normal;
}


.wetherDetails{
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.col{
  display: flex;
  gap: 10px;
  align-items: center;
}
.col img{
width: 30px;
margin: auto;
}